.ipynb*
__pycache__
iesta.egg-info
*egg*
thirdparty-data/*
lexicon/*
.idea
data/extracted_features/opinionfinder_output
*.doclist
data/debateorg_arguments_txt
data/debateorg
data/splitted
notebooks/transformers
iesta/iesta-logs/
*venv*
build
.env

logs
*/epoch*/*
dist/*

temp.py

*debug.ipynb
data/liberal_longformer/
data/conservative
data*.parquet
data*.txt
docs