.ipynb*
__pycache__
iesta.egg-info
*egg*
thirdparty-data/*
lexicon/*
.idea
data/extracted_features/opinionfinder_output
*.doclist
data/debateorg_arguments_txt
data/splitted
notebooks/transformers
*.parquet
iesta/iesta-logs/
*venv*
data/
