data/debateorg_arguments_txt/liberal/*.txt filter=lfs diff=lfs merge=lfs -text
data/debateorg_arguments_txt/conservative/*.txt filter=lfs diff=lfs merge=lfs -text
data/debateorg_arguments_txt/*.txt filter=lfs diff=lfs merge=lfs -text
data/*.parquet filter=lfs diff=lfs merge=lfs -text
data/extracted_features/liwc_original/* filter=lfs diff=lfs merge=lfs -text
data/extracted_features/liwc_original/* filter=lfs diff=lfs merge=lfs -text
